*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/*BLOCKS*/
.container{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 100%;
	height: 2000px;
}
.blocksTop{
		background: url(http://lenagold.ru/fon/der/dos/doska35.jpg);
}
.header{
	padding: 5%;
	width: 100%;
	text-align: center;
}
.name{
	margin-top: 13%;
	text-align: center;
	width: 100%;
}
.aboutMe{
	width: 100%;
}
.blocksAboutMe{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.blockAboutMe{
	padding: 2%;
	width: 30%;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.professionalSkills{
	width: 100%;
	text-align: center;
}
.skills{
	width: 500px;
	height: 400px;
}
/*TEXT*/
.headline2{
	text-align: center;
	margin-top: 5%;
	font-size: 30px;
}
/*IMG*/
.sizeIcon{
	width: 100px;
	height: 100px;
	margin-left: 40%;
	margin-bottom: 5%;
}