*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/*BLOCKS*/
.container{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 100%;
	height: 2000px;
}
.blocksTop{
		background: url(http://lenagold.ru/fon/der/dos/doska35.jpg);
}
.header{
	padding: 5%;
	width: 100%;
	text-align: center;
}
.name{
	margin-top: 13%;
	text-align: center;
	width: 100%;
}
.aboutMe{
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
}
.blocksAboutMe{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.blockAboutMe{
	padding: 2%;
	width: 30%;
	display: flex;
	flex-direction: column;
	text-align: center;
	background: white;
}
.professionalSkills{
	margin-top: 5%;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	text-align: center;
}
.skills{
	width: 500px;
	height: 400px;
}
hr{
	width: 150px;
	height: 1px;
	margin-top: 2%;
	margin-bottom: 2%;
}
.myWorks{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.wrapper {
  width: 70%;
  left: 0;
  top: 0;
}
.card {
  width: 32%;
  margin-right: 1%;
  margin-top: 4%;
  margin-bottom: 1%;
  height: 200px;
  perspective: 1000px;
  border: 1px solid #fff;
  float: left;
}
.line2{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.w_2{
  font-size: 11px;
}
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden;
  background-color: #4169E1;
  text-align: center;
 }
.front img {
  max-width: 100%;
  min-width: 100%;
  height: auto;
}
.back {
  transform: rotateX(180deg);
}
.card:hover .front {
  transform: rotateX(180deg);
}
.card:hover .back {
  transform: rotateX(360deg);
}
.buttons_block{
  width: 46.5%;
  display: flex;
  flex-direction: column;
}
.checkbox{
  background: #F7AA04;
  width: 100%;
  margin-top: 0.5%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
}
.contact{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
/*TEXT*/
.headline2{
	text-align: center;
	margin-top: 5%;
	font-size: 30px;
}
.link{
	width: 30%;
	background: #87CEFA;
	text-decoration: none;
}
/*IMG*/
.sizeIcon{
	width: 100px;
	height: 100px;
	margin-left: 40%;
	margin-bottom: 5%;
}
.sizeImg{
	width: 500px;
	height: 500px;
}
/*ФОРМА*/
